@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: url("/image/lab/mstaticize/skulls-1e558705c2.png");
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  word-break: break-all; }

header {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 15px 0; }

.codegrey {
  color: grey; }

.comment {
  color: #7F9F7F; }

.spec {
  color: #CC9393; }

.logo {
  display: inline-block;
  vertical-align: middle; }

.intro {
  vertical-align: middle;
  margin-left: 30px;
  display: inline-block;
  text-align: left; }

.intro h1 {
  color: #947197;
  font-weight: bold;
  display: block;
  width: 100%;
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid #947197;
  padding: 10px 0; }

.intro h2 {
  color: #999;
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 16px; }

.infoBar {
  margin-top: 8px;
  overflow: hidden;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px; }

.beforeDeal,
.afterDeal {
  text-align: left;
  margin: 10px;
  background: #3F3F3F;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  color: #8CD0D3;
  vertical-align: top; }

.api {
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.7);
  max-width: 1020px;
  padding: 0;
  margin: 20px auto;
  border-radius: 8px;
  color: #555; }

.api_tables {
  border-bottom: 1px solid #ccc; }

.api_tables span {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold; }

.api_contant {
  padding: 10px 20px;
  font-size: 14px; }

.api_contant h3 {
  font-size: 32px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 1px #fff;
  padding-bottom: 10px; }

.api_contant h4 {
  font-size: 28px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 1px #fff;
  padding-bottom: 5px; }

.api_contant h5 {
  font-size: 24px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 1px #fff;
  padding-bottom: 5px; }

.api_contant h6 {
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 1px #fff;
  padding-bottom: 5px; }

footer {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

footer a {
  color: #fff; }

.script {
  display: none; }
